
@{
	ViewData["Title"] = "Incident Management";
}

<h2>Incident Management</h2>

<a class="btn btn-danger btn-lg" asp-area="" asp-controller="IncidentManagement" asp-action="Active">Active Incidents</a>

<a class="btn btn-info btn-lg" asp-area="" asp-controller="IncidentManagement" asp-action="Recent">Recent Incidents</a>
